.images {
  margin: 1.5em 0;
  padding: 0;
  column-gap: 1.5em;
}

@media (min-width: 576px) {
  .images {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .images {
    column-count: 3;
  }
}

@media (min-width: 992px) {
  .images {
    column-count: 4;
  }
}

@media (min-width: 1200px) {
  .images {
    column-count: 5;
  }
}

@media (min-width: 1400px) {
  .wrapper {
    width: 14000px;
  }
}
